.GlobalLoader {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -16px;
  margin-right: -16px;
  @media (max-width: 768px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

//w-screen h-screen bg-white flex items-center justify-center
